<extend name="Public/base" />

<block name="body">
	<style type="text/css">
	.attr-color{color:#fff;background-color:#f60;}
	</style>
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="__JS__/bootstrap_alert.js"></script>
	<div class="main-title cf">
		<h2>首页设置</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label">首页轮播图<span class="check-tips">（1080*347）</span></label>
			<for start="1" end="4">
				<div class="controls" style="">
				<input type="file" id="upload_picture_thumb_{$i}">
				<input type="hidden" name="thumb[{$i}][thumb]" id="cover_id_thumb_{$i}" value="{$thumb[$i]['thumb']}"/>
				<div class="upload-img-box">
					<notempty name="thumb[$i]['thumb']">
						<div class="upload-pre-item">
							<img src="__ROOT__{$thumb[$i]['thumb']}"/>
						</div>
					</notempty>
				</div>
				<div class="controls">外链：<input type="text" class="text input-large" name="thumb[{$i}][thumb_link]" placeholder="输入商品UID或者完整的网页地址" value="{$thumb[$i]['thumb_link']}"></div>
				</div>
				<script type="text/javascript">
				//上传图片
				/* 初始化上传插件 */
				$("#upload_picture_thumb_{$i}").uploadify({
					"height":30,
					"swf":"__STATIC__/uploadify/uploadify.swf",
					"fileObjName"     : "download",
					"buttonText"      : "轮播图{$i}",
					"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
					"width"           : 120,
					'removeTimeout'	  : 1,
					'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
					"onUploadSuccess" : uploadPicturethumb,
					'onFallback' : function() {
						// alert('未检测到兼容版本的Flash.');
					}
				});
				function uploadPicturethumb(file, data){
					var data = $.parseJSON(data);
					var src = '';
					if(data.status){
						src = data.url || '__ROOT__' + data.path
						$("#cover_id_thumb_{$i}").val(src);
						$("#cover_id_thumb_{$i}").parent().find('.upload-img-box').html(
							        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							        	);
						} else {
							updateAlert(data.info);
							setTimeout(function(){
							$('#top-alert').find('button').click();
							$(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
						}
				</script>
			</for>
		</div>
		<hr>
		<div class="form-item cf">
			<label class="item-label">明星产品<span class="check-tips"> </span></label>
			<for start="1" end="3">
				<div class="controls" style="">
				<input type="file" id="upload_picture_start_{$i}">
				<input type="hidden" name="start[{$i}][thumb]" id="cover_id_start_{$i}" value="{$start[$i]['thumb']}"/>
				<div class="upload-img-box">
					<notempty name="start[$i]['thumb']">
						<div class="upload-pre-item">
							<img src="__ROOT__{$start[$i]['thumb']}"/>
						</div>
					</notempty>
				</div>
				<div class="controls">外链：<input type="text" class="text input-large" name="start[{$i}][thumb_link]" placeholder="输入商品UID或者完整的网页地址" value="{$start[$i]['thumb_link']}"></div>
				</div>
				<script type="text/javascript">
				//上传图片
				/* 初始化上传插件 */
				$("#upload_picture_start_{$i}").uploadify({
					"height":30,
					"swf":"__STATIC__/uploadify/uploadify.swf",
					"fileObjName"     : "download",
					"buttonText"      : "明星产品{$i}",
					"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
					"width"           : 120,
					'removeTimeout'	  : 1,
					'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
					"onUploadSuccess" : uploadPicturethumb,
					'onFallback' : function() {
						// alert('未检测到兼容版本的Flash.');
					}
				});
				function uploadPicturethumb(file, data){
					var data = $.parseJSON(data);
					var src = '';
					if(data.status){
						src = data.url || '__ROOT__' + data.path
						$("#cover_id_start_{$i}").val(src);
						$("#cover_id_start_{$i}").parent().find('.upload-img-box').html(
							        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							        	);
						} else {
							updateAlert(data.info);
							setTimeout(function(){
							$('#top-alert').find('button').click();
							$(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
						}
				</script>
			</for>
			 
		</div>
		<hr>
		<div class="form-item cf">
			<label class="item-label">热销推荐<span class="check-tips"> </span></label>
			<for start="1" end="7">
				<div class="controls" style="">
				<input type="file" id="upload_picture_hot_{$i}">
				<input type="hidden" name="hot[{$i}][thumb]" id="cover_id_hot_{$i}" value="{$hot[$i]['thumb']}"/>
				<div class="upload-img-box">
					<notempty name="hot[$i]['thumb']">
						<div class="upload-pre-item">
							<img src="__ROOT__{$hot[$i]['thumb']}"/>
						</div>
					</notempty>
				</div>
				<div class="controls">外链：<input type="text" class="text input-large" name="hot[{$i}][thumb_link]" placeholder="输入商品UID或者完整的网页地址" value="{$hot[$i]['thumb_link']}"></div>
				</div>
				<script type="text/javascript">
				//上传图片
				/* 初始化上传插件 */
				$("#upload_picture_hot_{$i}").uploadify({
					"height":30,
					"swf":"__STATIC__/uploadify/uploadify.swf",
					"fileObjName"     : "download",
					"buttonText"      : "热销推荐{$i}",
					"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
					"width"           : 120,
					'removeTimeout'	  : 1,
					'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
					"onUploadSuccess" : uploadPicturethumb,
					'onFallback' : function() {
						// alert('未检测到兼容版本的Flash.');
					}
				});
				function uploadPicturethumb(file, data){
					var data = $.parseJSON(data);
					var src = '';
					if(data.status){
						src = data.url || '__ROOT__' + data.path
						$("#cover_id_hot_{$i}").val(src);
						$("#cover_id_hot_{$i}").parent().find('.upload-img-box').html(
							        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							        	);
						} else {
							updateAlert(data.info);
							setTimeout(function(){
							$('#top-alert').find('button').click();
							$(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
						}
				</script>
			</for>
			 
		</div>
		<div class="form-item">
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
 
</block>

<block name="script">

<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript" charset="utf-8">
	Think.setValue('type',{$type|default=1});
    //导航高亮
    highlight_subnav('{:U('goods/index')}');

$('#submit').click(function(){
	$('#form').submit();
});

 
$("[name='category_id']").on("change", function(){
	$("[name='reward_rate']").val($(this).children('option:selected').attr('data-rate'));
});

function addcolor(){
	var color = $("#price_sales").val();
	if(color){
		$("#color_area").append('<label class="checkbox" onclick="$(this).remove()"><span class="attr-color">'+color+'</span><input type="hidden" name="color[]" value="'+color+'"></label>');
		$("#price_sales").val('').focus();
	}
 	
 
}

</script>
</block>
