<div id="lb_nav" class="row lb_fix_bottom">
	  <ul class="nav nav-pills text-center" role="tablist" >
		<li role="presentation">
			<a href="{:U('index/index')}">
			<i class="glyphicon glyphicon-home"></i><br>首页</a></li>
		<li role="presentation">
			<a href="{:U('goods/index')}">
			<i class="glyphicon glyphicon-th-large"></i><br>分类</a></li>
		<li role="presentation">
			<a href="{:U('cart/index')}">
			<i class="glyphicon glyphicon-shopping-cart"></i><br>购物车</a></li>    
		<li role="presentation">
			<a href="{:U('my/index')}">
			<i class="glyphicon glyphicon-user"></i><br>我的</a></li>     
	  </ul>  
  </div>