<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增用户</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">账号<span class="check-tips">（账号不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">姓名<span class="check-tips">（用户真实名称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="nickname" value="">
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">手机号码<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">用户类型<span class="check-tips"></span></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="radio" value="设计师" name="type" checked
                    >设计师</label>
                <label class="checkbox">
                    <input type="radio" value="C类客户" name="type">C类客户
                </label>
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">密码<span class="check-tips">（默认:123456）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="123456">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">确认密码<span class="check-tips">（默认:123456）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="123456">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">公司名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="company" value="">
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">所属区域<span class="check-tips"></span></label>
            <div class="controls">
               <select name="area">
                <option value="">请选择</option>
                <option value="工业园区">工业园区</option>
                <option value="吴江区">吴江区</option>
                <option value="姑苏区">姑苏区</option>
                <option value="相城区">相城区</option>
                <option value="吴中区">吴中区</option>
                <option value="虎丘区">虎丘区</option>
                <option value="常熟市">常熟市</option>
                <option value="昆山市">昆山市</option>
                <option value="张家港市">张家港市</option>
                <option value="太仓市">太仓市</option>
               </select>
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">负责人<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="leader" value="">
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">负责电话<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="leader_phone" value="">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="email" value="">
            </div>
        </div>

          <div class="form-item">
            <label class="item-label">开户行<span class="check-tips">（开户行名称，请仔细确认！）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank_name" value="">
            </div>
        </div>
          <div class="form-item">
            <label class="item-label">开户名称<span class="check-tips">（开户名称，请仔细确认！）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank_open_name" value="">
            </div>
        </div>
          <div class="form-item">
            <label class="item-label">银行卡号<span class="check-tips">（开户行与开户行名称确保一致，请仔细确认！）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank_card" value="">
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Agent/index')}');
    </script>
</block>
