<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改用户</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <input type="hidden" name="uid"  value="{$user.id}">
            <label class="item-label">账号<span class="check-tips">（账号不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="{$user.username}">
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">姓名<span class="check-tips">（用户真实名称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="nickname" value="{$user.nickname}">
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">手机号码<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="{$user.mobile}">
            </div>
        </div>
       
        <div class="form-item">
            <label class="item-label">用户类型<span class="check-tips"></span></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="radio" value="设计师" name="type"  <?php if($user['type']=='设计师') echo "checked"; ?>
                    >设计师</label>
                <label class="checkbox">
                    <input type="radio" value="C类客户" name="type"   <?php if($user['type']=='C类客户') echo "checked"; ?> 
                    >C类客户 
                </label>               
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">密码<span class="check-tips"></span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">确认密码<span class="check-tips"></span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">公司名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="company" value="{$user.company}">
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">所属区域<span class="check-tips"></span></label>
            <div class="controls">
               <select name="area">
                <option value="">请选择</option>
                <volist name=":cityList()" id="vo">
                    <option value="{$vo.area}" <?php if($user['area']==$vo['area']) echo "selected"; ?> >{$vo.area}</option>
                </volist>
              
                
               </select>
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">负责人<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="leader" value="{$user.leader}">
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">负责电话<span class="check-tips">（必填）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="leader_phone" value="{$user.leader_phone}">
            </div>
        </div>

     
        <div class="form-item">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="email" value="{$user.email}">
            </div>
        </div>

          <div class="form-item">
            <label class="item-label">开户行<span class="check-tips">（开户行名称，请仔细确认！）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank_name" value="{$user.bank_name}">
            </div>
        </div>
          <div class="form-item">
            <label class="item-label">开户名称<span class="check-tips">（开户名称，请仔细确认！）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank_open_name" value="{$user.bank_open_name}">
            </div>
        </div>
          <div class="form-item">
            <label class="item-label">银行卡号<span class="check-tips">（开户行与开户行名称确保一致，请仔细确认！）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank_card" value="{$user.bank_card}">
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
